

/* Globals */

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
}

h2, p {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
}

img {
    width: 100%;
    display: block;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

/* Buttons & Icons */

button {
    all: unset;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: hsl(158, 35%, 30%);
}

.add-to-cart-button {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: center;
    border-radius: .7rem;
    background-color:hsl(158, 36%, 37%);
    margin: 0 auto;
    margin-top: 1.5rem;
    gap: .6rem;
    font-size: 1rem;
    font-family: 'Monsterrat', sans-serif;
    font-weight: 700;
    color: hsl(30, 38%, 92%);
    letter-spacing: .08rem;
    padding: .75em 0;
}

.add-to-cart-button[data-icon="shopping-cart"]::before {
    content: '';
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;
}

.card {
    margin: 0 auto;
    margin: 1em;
    background-color: #fff;
    border-radius: .7rem;
    overflow: hidden;
}



/* Typography */

.primary_content {
    margin: 0 auto;
    width: 90%;
    padding: 1.6rem 0;
}

.secondary_heading {
    font-size: .8rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
}

.primary_heading {
    font-size: 2rem;
    line-height: .95;
}

.body_text {
    line-height: 1.6;
    margin-bottom: .9rem;
    font-size: .9rem;
}

.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 2em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Price */

.price {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin: 0;
}

.price_main {
    color: hsl(158, 36%, 37%);
    margin: 0;
}

.small-price_strike-through {
    font-size: .9rem;
    text-decoration: line-through;
    margin-left: 1rem;
}

@media (min-width: 600px) {
    
    .row {
        display: flex;
        align-items: center;
    }

    .card {
        display: flex;
        align-items: center;
        border-radius: .7rem;
        width: 600px;
    }

    .primary_content {
        max-width: 50%;
        padding: 1.5em;
    }
}